*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    overflow-x: hidden;
}
/* nav bar */
.navbar{
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #512B81;
    color: aliceblue;
}
.nav-logo a{
    position: absolute;
    left: 4rem;
    top: 1rem;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 1s ease;
    text-shadow: #512B81 1px 0 15px;
}
.nav-logo a:hover{
    transform: scale(1.1);
}
.nav-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: inherit;
}
.nav-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    height: inherit;
    font-size: 1rem;
    font-weight: 700;
}
.nav-right a{
    text-decoration: none;
    color: aliceblue;
}
.nav-right a:hover{
    font-size: 1.02rem;
    color: white;
}
.nav-left a{
    text-decoration: none;
    color: aliceblue;
}
.nav-left a:hover{
    text-decoration: none;
    cursor: pointer;
}
.nav-cart,.nav-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-cart>div{
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-profile>div{
    font-size: 1.25rem;
    font-weight: 700;
}
.nav-cart i{
    margin-right: 0.75rem;
}
.nav-profile i{
    margin-right: 0.75rem;
}
.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #512B81;
    border-radius: 8px;
    transition: border 0.3s ease;
}
.nav-search .search-icon{
    font-size: 1.5rem;
    font-weight: 800;
    height: 38px;
    width: 38px;
    background-color: white;
    color: #8CABFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.nav-search input{
    width: 30vw;
    height: 37.8px;
    padding-left: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
}
.nav-search:hover{
    border: 3px solid #8CABFF;
}


/* Footer Styles */
footer {
    background-color: #3B1F5A;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100vw;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-links ul {
    list-style: none;
  }
  
  .footer-links ul li {
    margin: 5px 0;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .footer-social a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: inherit;
    color: gray;
  }


/* side-bar */
.side-menu{
    height: 90vh;
    width: 100vw;
}
.button1 i{
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    position: absolute;
    top: 2.5px;
    left: 16px;
    line-height: 60px;
    transition: all 0.5s ease;
}
.button1 i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.sidebars{
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: rgb(81, 43, 129);
    border-top-right-radius: 2px;
    box-shadow: 0 0 6px rgba(255, 255, 255,0.8);
    transition: all 0.3s linear;
    z-index: 5;
}

.sidebars .logo{
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 3px rgba(255, 255, 255,0.5);
}
.sidebars .logo a{
    position: absolute;
    left: 50px;
    top: 5px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 1s ease;
    /* text-shadow: #FC0 1px 0 15px; */
}
.sidebars .logo a:hover{
    transform: scale(1.1);
}
.sidebars .menu{
    position: absolute;
    width: 100%;
    top: 100px;
    line-height: 30px;
}
.sidebars .button2{
    color: rgba(0, 255, 255,0.8);
    font-size: 25px;
    position: absolute;
    left: 270px;
    top: 20px;
}
.sidebars .button2 i{
    transition: color 0.3s ease;
}
.sidebars .button2 i:hover{
    color: rgb(235, 60, 60);
    cursor: pointer;
}
.sidebars .menu li{
    /* margin-top: 6px;
    margin-bottom: 6px; */
    padding: 14px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebars .menu ul {
    list-style: none;
    padding-left: 0;
}
  
.sidebars .menu li a,i{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.sidebars .menu li a{
    transition: color 1s ease;
}
.sidebars .menu li a:hover{
    color: blueviolet;
    /* transform: scale(2); */
}
.sidebars .menu li i{
    font-size: 40px;
    position: relative;
    top: 10px;
    margin-bottom: 18px;
    padding-right: 8px;
    transition: transform 0.3s ease;
}
.sidebars .menu li:hover i{
    transform: scale(1.1);
}
#check{
    display: none;
}
.sidebars .menu li:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255,0.6);
    border-radius: 8px;
}
#check:checked ~.sidebars{
    left: 0;
}
#check:checked ~.button1 i{
    display: none;
}


/* main */
.slide-show-container{
    position: absolute;
    top: 60px;
    height: 30rem;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.slide-image{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    display: none;
}

